.config/github-copilot/
.config/wslu/
.config/fish/functions/
.config/.wrangler/
.config/direnv/
.config/environment.d
.config/gh/
.config/fontconfig/
.config/configstore/
.config/fish/fishd.tmp.*
.config/git/
fish_variables
chromium
