@define-color foreground rgba(255, 255, 255, 0.9);
@define-color background rgba(30, 30, 46, 0.5);
@define-color color1 hsl(30, 100%, 50%);

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#window {
  color: @foreground;
}

#box {
  border-radius: 12px;
  background: @background;
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#search {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @foreground;
  opacity: 0.5;
}

#clear {
  color: @foreground;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 8px;
}

#input {
  background: none;
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @foreground;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

child {
  padding: 8px;
  border-radius: 8px;
}

child:selected,
child:hover {
  background: alpha(@color1, 0.4);
}

#icon {
  margin-right: 8px;
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 8px;
  color: @foreground;
  background: @background;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: rgba(255, 255, 255, 0.1);
}
